 *{
 	margin: 0;
 	padding: 0;
 }
 #new-dwayne {
 	font-size: 2rem;
 	font-family: Arial;
 	margin-bottom: 1rem;
 }
 #generate{
 	height:2rem;
 	padding-left:1rem;
 	padding-right:1rem;
 }

 #generate:hover {
 	/*cursor:pointer;*/
 	cursor:url('https://images-na.ssl-images-amazon.com/images/I/41YOKaUtyYL._SS40_.jpg'), auto;
 	background: grey;
 	color:white;
 }

 #dwayne-wrap {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	flex-direction: column;

 	background: cyan;
 	height:100vh;

 }